.offer-title{
    color: #FFBD59;
    font-weight: bolder;
    font-size: 48px;
}
.card-list{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex: 1;
    align-items: center;
}
@media (max-width: 767.98px) {
    .offer-title{
        font-size: 40px;
    }
    .card-list{
        flex-direction: column;
        gap: -5%;
        justify-content: flex-start;
        align-items: center;
    }
  }