.process-page-header{
    text-align: center;
    padding: 48px;
    font-weight: bolder;
    font-size: 40px;
    color: #1E2189;
}

.process-list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2.5%;
    justify-content: center;
    
}

@media (max-width: 767.98px) {
    .process-page-header{
        padding-top: 32px;
    }
}