.question-header{
    font-size: 56px;
    font-weight: bold;
}
.questions-left-col{
    display: flex;
    flex-direction: column;
    width: 50%;
    padding-top: 72px;
}
.questions-left-col span{
    display: flex;
    align-self: flex-end;
}
.question-illustration{
    position: absolute;
    bottom: -200%;
    height: auto;
    width: 50%;
}
.questions-right-col{
    display: flex;
    flex-direction: column;
    padding-top: 160px;
    padding-left: 16px;
}

.right-item{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.right-item span{
    font-size: 24px;
}

.right-footer{
    display: flex;
    flex-direction: column;
    margin-top: 32px;
}
.right-footer span{
    font-size: 48px;
    font-weight: bold;
    align-self: flex-end;
}

@media (max-width: 767.98px) {
    .question-illustration{
        display: none;
    }
    .questions-left-col{
        padding: unset;
        width: 100%;
        margin-bottom: 16px;
    }
    .questions-left-col span{
       align-self: unset;
       font-size: 40px;
    }
    .questions-right-col{
        padding: unset;
    }
    .right-item span{
        font-size: 20px;
    }
    .right-footer span{
        font-size: 40px;
        margin-right: 16px;
    }
    .right-footer button{
        margin-right: 16px;
        font-size: 20px;
    }
  }
  @media (max-width: 991.98px) {
    .question-illustration{
        position: absolute;
        bottom: -200%;
        height: auto;
        width: 50%;
    }
    .questions-right-col{
        padding-top: unset;
    }
    .questions-left-col{
        padding-top: unset;
    }

    .right-item span{
        font-size: 20px;
    }
  }